@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}

.modlogin{
    margin-right: 10px;
    font-family: sans-serif;
}

.pr-section-one{
    /* background-color: green; */
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.pr-section-one-p1{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 540;
    text-align: center;
}

.pr-section-one-p1 span{
    color: #110066;
}

.pr-section-one-p2{
    font-size: 14px;
    font-family: sans-serif;
}

/*---------------- Section two ------------*/
.pr-section-two{
    height: 49vh;
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.pr-section-two-wrapper{
    display: flex;
    flex-direction: row;
    background-color: green;
    width: 100%;
    justify-content: center;
}

.pr-container{
    background-color:darkcyan;
    margin: 0px 4px 0px 4px;
    width: 380px;
    height: 310px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr-container-stxt{
    font-size: 14px;
    font-family: sans-serif;
    color: #110066;
}